@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;700&display=swap");

body {
  padding: 0;
  margin: 0;
  background-color: #121214;
  color: #f8f9fa;
  font-family: "Inter", sans-serif;
}
